<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","style":{"dimensions":{"minHeight":"80vh"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="min-height:80vh"><!-- wp:post-featured-image {"align":"full"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"style":{"typography":{"lineHeight":"1.14"}},"fontSize":"xx-large"} /-->

<!-- wp:post-content {"layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"tight-footer"} /-->